<div class='homepage_container'>
  <div class='homepage_item' id='about'>
    <%= image_tag('homepage/about.jpg', id: 'about_image') %>
    <div class='cover_title'></div>
  </div>
  <div class='homepage_item' id='projects'>
    <%= image_tag('homepage/projects.png', id: 'projects_image') %>
    <div class='cover_title'></div>
  </div>
  <div class='homepage_item' id='blog'>
    <%= image_tag('homepage/blog.jpg', id: 'blog_image') %>
    <div class='cover_title'></div>
  </div>
  <div class='homepage_item' id='say_hello'>
    <%= image_tag('homepage/say-hello.png', id: 'say_hello_image') %>
    <div class='cover_title'></div>
  </div>
  <div class='homepage_item' id='gallery'>
    <%= image_tag('homepage/gallery.jpg', id: 'gallery_image') %>
    <div class='cover_title'></div>
  </div>
  <div class='homepage_item' id='contact'>
    <%= image_tag('homepage/contact.jpg', id: 'contact_image') %>
    <div class='cover_title'></div>
  </div>
</div>