<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<% content_for :section_title do %>
  Login
<% end %>

<% content_for :form do %>
  <%= form_with(url: "/login", method: "post", class: 'floating-form') do |f| %>
    <%= render partial: 'partials/system_messages' %>
    <%= f.text_field(:user, required: true, class: 'input-box', placeholder: 'Username or Email', autocomplete: "on") %>
    <div class='input-seperator'></div>
    <%= f.password_field(:password, required: true, class: 'input-box', placeholder: 'Password', autocomplete: "on") %>
    <div class='input-seperator'></div>
    <div class='options login'>
      <%= link_to "Forgotten Password", "/forgotten-password", class: 'option right' %>
    </div>
    <div class='recaptcha' id='recaptcha' data-controller='recaptcha' data-recaptcha-target='container' data-action="turbolinks:before-cache@window->recaptcha#teardown"></div>
    <%= render partial: "partials/submit_right", locals: {form: f, button_text: 'Login'} %>
  <% end %>
<% end %>

<%= render template: "layouts/forms/floating_form" %>
