<h1> Two Factor Authentication </h1>
<div class='centered_container'>
  <div class='floating_form_container'>
    <%= form_with(url: "/2fa", method: :post, class: 'floating_form') do |f| %>
      <div class="system_messages">
        <% flash.each do |type, msg| %>
          <div class='<%= type %>'><%= msg %></div> 
        <% end %>
      </div>
      <%= f.text_field(:auth_code, required: true, class: 'input_box', placeholder: '2FA Code') %>
      <div class='input_seperator'></div>
      <%= f.submit("Login", class: 'input_submit') %>
    <% end %>
    <div class='options'>
      <%= form_tag('/2fa', method: :put) do %>
        <%= submit_tag("Resend 2fa code", class: 'option left') %>
      <% end %>
      <%= form_with(url: "/login", method: "delete") do %>
        <%= submit_tag("Cancel Login", class: 'option right') %>
      <% end %>
    </div>
  </div>
</div>