<h1> Two Factor Authentication </h1>
<div class='centered-container'>
  <div class='floating-form-container'>
    <%= form_with(url: "/2fa", method: :post, class: 'floating-form') do |f| %>
      <%= render 'layouts/system_messages'%>
      <%= f.text_field(:auth_code, required: true, class: 'input-box', placeholder: '2FA Code') %>
      <div class='input-seperator'></div>
      <%= f.submit("Login", class: 'input-submit') %>
    <% end %>
    <div class='options'>
      <%= form_tag('/2fa', method: :put) do %>
        <%= submit_tag("Resend 2fa code", class: 'option left') %>
      <% end %>
      <%= form_with(url: "/login", method: "delete") do %>
        <%= submit_tag("Cancel Login", class: 'option right') %>
      <% end %>
    </div>
  </div>
</div>