<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<% content_for :section_title do %>
  Two Factor Authentication
<% end %>

<% content_for :form do %>
  <%= form_with(url: "/2fa", method: :post, class: 'floating-form') do |f| %>
    <%= render partial: 'partials/system_messages' %>
    <%= f.text_field(:auth_code, required: true, class: 'input-box', placeholder: '2FA Code') %>
    <div class='input-seperator'></div>
    <%= f.submit("Login", class: 'input-submit') %>
  <% end %>
  <div class='options'>
    <%= form_tag('/2fa', method: :put) do %>
      <%= submit_tag("Resend 2fa code", class: 'option left') %>
    <% end %>
    <%= form_with(url: "/login", method: "delete") do %>
      <%= submit_tag("Cancel Login", class: 'option right') %>
    <% end %>
  </div>
<% end %>

<%= render template: "layouts/forms/floating_form" %>
