<% if @site_settings.typed_header_enabled %>
  <% content_for :typed_header do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :typed_header_sub do %>
    <%= @site_settings.subtitle_text %>
  <% end %>
<% else %>
  <% content_for :section_title do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :section_subtitle do %>
    <%=  @site_settings.subtitle_text %>
  <% end %> 
<% end %>

<%= render partial: 'partials/system_messages' %>

<section class="image-tile-container" data-controller="image-loader" data-target='image-loader.container'>
  <% @cover_images.each_with_index do |image, index| %>
    <div class="flex-image-tile" data-controller="touch-hover-tile" data-action="touchstart->touch-hover-tile#checkTouch touchend->touch-hover-tile#addHover">
      <%= image_tag(image_path_helper(image_model: image), class: "cover-image", style: image.custom_style, alt: image.description, data: {action: "load->image-loader#imageLoaded", target: 'image-loader.fade'} ) %>
      <a href="<%= image.link %>" title='<%= image.description %>' tabindex='<%= index + 1 %>'>
        <span class="cover-title" data-target="touch-hover-tile.coverTitle">
          <span><%= image.description %></span>
        </span>
      </a>
    </div>
  <% end %>
</section>