<% if @site_settings.typed_header_enabled %>
  <% content_for :typed_header do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :typed_header_sub do %>
    <%= @site_settings.subtitle_text %>
  <% end %>
<% else %>
  <% content_for :section_title do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :section_subtitle do %>
    <%=  @site_settings.subtitle_text %>
  <% end %> 
<% end %>

<%= render partial: 'partials/system_messages' %>

<% fade_delay_num = 1%>
<div class="image-tile-container" data-controller="image-loader" data-image-loader-num-images="<%= @cover_images.length %>">
  <% @cover_images.each do |image| %>
    <div class="flex-image-tile" data-controller="touch-hover-tile" data-action="touchstart->touch-hover-tile#checkTouch touchend->touch-hover-tile#addHover">
      <%= image_tag(image_path_helper(image), class: "cover-image transition-delay-#{fade_delay_num}", style: image.custom_style, data: {action: "load->image-loader#imageLoaded", target: 'image-loader.fade'} ) %>
      <a href="<%= image.link %>">
        <span class="cover-title" data-target="touch-hover-tile.coverTitle">
          <span><%= image.description %></span>
        </span>
      </a>
    </div>
    <% fade_delay_num += 1 %>
  <% end %>
</div>