<% if @site_settings.typed_header_enabled %>
  <% content_for :typed_header do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :typed_header_sub do %>
    <%= @site_settings.subtitle_text %>
  <% end %>
<% else %>
  <% content_for :section_title do %>
    <%= @site_settings.header_text %>
  <% end %>
  <% content_for :section_subtitle do %>
    <%= @site_settings.subtitle_text %>
  <% end %>
<% end %>

<%= render partial: 'partials/system_messages' %>

<section class="image-tile-container" data-controller="image-loader" data-image-loader-target='container' data-action='turbolinks:before-cache@window->image-loader#teardown'>
  <% @cover_images.each_with_index do |image, index| %>
    <div class="flex-image-tile" data-controller="touch-hover-tile" data-action="touchstart->touch-hover-tile#touchStart touchend->touch-hover-tile#touchEnd mouseenter->touch-hover-tile#applyHoverToTarget mouseleave->touch-hover-tile#teardown turbolinks:before-cache@window->touch-hover-tile#teardown">
      <%= image_tag(image_path_helper(image_model: image), class: "cover-image", style: image.custom_style, alt: image.description, data: {action: "load->image-loader#imageLoaded", 'image-loader-target': 'fade'} ) %>
      <a href="<%= image.link %>">
        <span class="cover-title" data-touch-hover-tile-target="coverTitle">
          <span><%= image.description %></span>
        </span>
      </a>
    </div>
  <% end %>
</section>
