<%= stylesheet_link_tag('admin/general') %>

<h1>
  Admin Zone
  <div class='subtitle'>
    General
  </div>
</h1>
<div class='admin_zone_container'>
  <%= render 'admin/admin_dashboard' %>
  <div class='admin_section'>
    <div class='item_container'>
      <h3>
        System Messages
      </h3>
      <div class='messages'>
        <% flash.each do |type, msg| %>
          <div class="notice">
            <%= msg %>
          </div>
        <% end %>
        <div class='no_messages'>You have no messages</div>
      </div>
    </div>
    <div class='item_separator'></div>
    <div class='item_container'>
      <h3>
        Last Login
      </h3>
      <strong>Time and Date:</strong> <%= @user.last_login_time.strftime("%H:%M %d-%m-%Y") %>
      <br><br>
      <strong>IP Address:</strong> <%= @user.last_login_ip %>
    </div>
    <div class='item_separator'></div>
    <div class='item_container'>
      <%= render 'admin/current_user_details'%>
    </div>
    <div class='item_separator'></div>
        <div class='item_container'>
      <h3>
        Notifications
      </h3>
      Placeholder
    </div>
    <div class='item_separator'></div>
    <div class='item_container'>
      <h3>
        Analytics
      </h3>
      Placeholder
    </div>
    <div class='item_separator'></div>
  </div>
</div>