<div class='forgotten_password_container'>
  <div class='forgotten_password_form_container'>
    <h1> Forgotten Password </h1>
    <%= form_with(url: '/forgotten-password', method: :post, class: 'forgotten_password_form') do %>
      <% flash.each do |type, msg| %>
        <div class="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= label_tag(:user, 'Please enter your email address:') %>
      <br>
      <%= text_field_tag(:user) %>
      <br><br>
      <div id='recaptcha'></div>
      <br>
      <%= submit_tag('Request Password Reset') %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'recaptcha/recaptcha' %>