<div class='forgotten_password_container'>
  <div class='forgotten_password_form_container'>
    <h1> Reset Password </h1>
    <%= form_with(url: '/reset-password', method: :post, class: 'reset_password_form') do %>
      <% flash.each do |type, msg| %>
      <div class="alert">
        <%= msg %>
      </div>
      <% end %>
      <div class='username'>
        User: <%= @user.username %>
      </div>
      <br>
      <%= label_tag(:password, 'Please enter your new password:') %>
      <br>
      <%= password_field_tag(:password) %>
      <br>
      <%= label_tag(:password_confirmation, 'Please confirm your new password:') %>
      <br>
      <%= password_field_tag(:password_confirmation) %>
      <br>
      <%= submit_tag('Reset Password') %>
    <% end %>
  </div>
</div>