<h1> Login </h1>
<div class='centered_container'>
  <div class='floating_form_container'>
    <%= form_with(url: "/login", method: "post", class: 'floating_form') do |f| %>
      <div class="messages">
        <% flash.each do |type, msg| %>
          <% if type == 'alert'%>
            <div class='alert'><%= msg %></div> 
          <% else %>
            <div class='notice'><%= msg %></div>
          <% end %>
        <% end %>
      </div>
      <%= f.text_field(:user, required: true, class: 'input_box', placeholder: 'Username or Email') %>
      <div class='input_seperator'></div>
      <%= f.password_field(:password, required: true, class: 'input_box', placeholder: 'Password') %>
      <div class='input_seperator'></div>
      <div class='options login'>
        <%= link_to "Forgotten Password", "/forgotten-password", class: 'option right' %>
      </div>
      <div class='recaptcha' id='recaptcha'></div>
      <%= f.submit("Login", class: 'input_submit') %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'recaptcha/recaptcha' %>