<nav class='navbar'>
  <div class='nav-title-container'>
    <a href='<%= root_path %>'><%= @site_settings.name %></a>
  </div>
  <% if @user %>
    <div class='username'>
      <a href='<%= admin_path %>'>
        <%= @user.username %>
      </a>
    </div>
  <% end %>
  <div class='nav-menu' data-controller='nav-menu' data-nav-menu-open='false'>
    <button class='hamburger-container' data-action='click->nav-menu#menuToggle' data-nav-menu-target='navHamburger'>
      <div class='hamburger'>
        <div class='hamburger-bar' id='hamburger-crown'></div>
        <div class='hamburger-bar' id='hamburger-patty'></div>
        <div class='hamburger-bar' id='hamburger-heel'></div>
      </div>
    </button>
    <div class='nav-sidebar' data-nav-menu-target='navSidebar'>
      <div class='upper'>
        <a href='<%= root_path %>' class='nav-item'>
          HOME
        </a>
        <a href='<%= about_path %>' class='nav-item'>
          ABOUT
        </a>
        <a href='<%= projects_path %>' class='nav-item'>
          PROJECTS
        </a>
        <a href='<%= posts_path %>' class='nav-item'>
          BLOG
        </a>
        <a href='<%= code_snippets_path %>' class='nav-item'>
          CODE SNIPPETS
        </a>
        <a href='<%= gallery_images_path %>' class='nav-item'>
          GALLERY
        </a>
        <a href='<%= contact_path %>' class='nav-item'>
          CONTACT
        </a>
      </div>
      <div class='lower'>
        <% if @user %>
        <a href='<%= admin_path %>' class='nav-item'>
          ADMIN
        </a>
        <%= form_with(url: "/login", method: "delete", class: 'logout-form') do %>
          <%= submit_tag("LOGOUT", class: 'nav-item', id: 'logout-button') %>
        <% end %>
        <% else %>
        <a href='<%= login_path %>' class='nav-item' id='login-button'>
          LOGIN
        </a>
        <% end %>
      </div>
    </div>
    <div class='nav-screen-cover' data-action='click->nav-menu#closeMenu'></div>
  </div>
</nav>
