<%= form_with(model: [:admin, code_snippet], method: 'put', class: 'section-form', id: 'admin-code-snippets-edit-form') do |f| %>

  <%= render partial: 'admin/code_snippets/form_components', locals: { f: f } %>

<% end %>

<div class="embedded-form-button-container">
  <%= link_to('Return', code_snippet_path(code_snippet), class: 'standard-button input-submit') %>
  <%= form_with(model: [:admin, code_snippet], method: :delete) do |r| %>
    <%= r.submit("Remove", class: 'input-submit destroy-button', data: {confirm: "Are you sure?"}) %>
  <% end %>
</div>
