<div class='card-container'>
  <a href='<%= code_snippet_path(code_snippet) %>' class='card-content show-button' title='<%= code_snippet.title %>' tabindex='<%=code_snippet_iteration.index + 1%>'>
    <div class='card-image'>
      <%= image_tag(image_path_helper(image_model: code_snippet.code_snippet_image))%>
    </div>
    <h3>
      <%= code_snippet.title %>
    </h3>
    <div class='card-overview'>
      <%= code_snippet.overview %>
    </div>
  </a>
</div>