<% content_for :section_title do %>
  Code Snippets
<% end %>

<% content_for :meta_title do %>
  <%= @code_snippet.title %> - Code Snippet
<% end %>

<% content_for :meta_description do %>
  <%= @code_snippet.overview %>
<% end %>

<% if @code_snippet.code_snippet_image&.image_file&.attached? %>
  <% content_for :meta_image_path do %>
    <%= polymorphic_url(@code_snippet.code_snippet_image.image_file) %>
  <% end %>

  <% content_for :meta_image_alt do %>
    <%= @code_snippet.code_snippet_image.description %>
  <% end %>
<% end %>


<%= render partial: 'partials/admin_toolbar', locals: { model: @code_snippet } %>

<div class='reading-pane'>
  <%= render partial: 'partials/system_messages' %>
</div>

<article class='item-content' itemscope itemtype="https://schema.org/TechArticle">
    <div class='reading-pane'>
      <h1 itemprop='headline'><%= @code_snippet.title %></h1>
      <div class='reading-pane-subtitle'>
      <span itemprop='author'> <%=  @code_snippet.user.username %> </span> | Last updated: <time datetime="<%= @code_snippet.updated_at.strftime("%Y-%m-%d")%>" itemprop='dateModified'> <%= full_date(@code_snippet.updated_at) %> </time>
      </div>
    </div>

    <div class='code-snippet' itemprop='articleBody'>
      <%= markdown_code(code: @code_snippet.snippet, extension: @code_snippet.extension) %>
    </div>

    <div class='reading-pane' itemprop='description'>
      <%= markdown_admin(@code_snippet.text) %>
    </div>
    <link itemprop="isPartOf" itemscope itemtype="https://schema.org/Collection" itemid="<%= code_snippets_path %>" />
</article>

<section class='reading-pane reading-footer'>
  <div class='standard-button-container'>
    <a href='<%= code_snippets_path %>' class='standard-button'>Back to all snippets</a>
  </div>
</section>
