<% content_for :section_title do %>
  Code Snippets
<% end %>
<section class='reading-pane'>
  <h2><%= @code_snippet.title %></h2>
  <%= @code_snippet.user.username.humanize %> | Last updated: <%= full_date(@code_snippet.updated_at) %>
</section>

<div class='code-snippet'>
  <%= markdown_code(code: @code_snippet.snippet, extension: @code_snippet.extension) %>
</div>

<section class='reading-pane'>
  <%= markdown_admin(@code_snippet.text) %>
</section>

<section class='reading-pane reading-footer'>
  <a href='<%= code_snippets_path%>' class='standard-button'>Back to all snippets</a>
</section>