<% content_for :section_title do %>
  Code Snippets
<% end %>

<% content_for :meta_title do %>
  <%= @code_snippet.title %> - Code Snippet
<% end %>

<% content_for :meta_description do %>
  <%= @code_snippet.overview %>
<% end %>

<% if @code_snippet.code_snippet_image&.image_file&.attached? %>
  <% content_for :meta_image_path do %>
    <%= polymorphic_url(@code_snippet.code_snippet_image.image_file) %>
  <% end %>

  <% content_for :meta_image_alt do %>
    <%= @code_snippet.code_snippet_image.description %>
  <% end %>
<% end %>

<article class='item-content' itemscope itemtype="https://schema.org/TechArticle">
  <section class='reading-pane'>
    <h2 itemprop='headline'><%= @code_snippet.title %></h2>
    <div class='reading-pane-subtitle'>
    <span itemprop='author'> <%=  @code_snippet.user.username %> </span> | Last updated: <time datetime="<%= @code_snippet.updated_at.strftime("%Y-%m-%d")%>" itemprop='dateModified'> <%= full_date(@code_snippet.updated_at) %> </time>
    </div>
  </section>

  <div class='code-snippet' itemprop='articleBody'>
    <%= markdown_code(code: @code_snippet.snippet, extension: @code_snippet.extension) %>
  </div>

  <section class='reading-pane' itemprop='description'>
    <%= markdown_admin(@code_snippet.text) %>
  </section>
  <link itemprop="isPartOf" itemscope itemtype="https://schema.org/Collection" itemid="<%= code_snippets_path %>" />
</article>

<section class='reading-pane reading-footer'>
  <a href='<%= code_snippets_path %>' class='standard-button'>Back to all snippets</a>
</section>
