
<% image = project.main_project_image %>
<% if image %>

  <div class="embedded-form-entry-container">
    <div class="input-label embedded-label">
      Main project image
    </div>
  </div>

  <div class="embedded-form-entry-container">
    <%= image_tag(image_path_helper(image_model: image), class: 'project-image admin')%>
  </div>

  <%= form.fields_for(:main_project_image) do |p| %>
    <div class="embedded-form-entry-container">
      <%= p.label(:image_file, 'Update image', class: 'input-label embedded-label') %>
      <%= p.file_field(:image_file, accept: 'image/png,image/jpeg', class: 'input-box embedded-no-border', id: "image-update-main-#{image.description}") %>
    </div>

    <div class="embedded-form-entry-container">
      <%= p.label(:_destroy, 'Remove image', class: 'input-label embedded-label') %>
      <%= p.check_box(:_destroy, {class: 'input-check-box', id: "image-reset-main-#{image.description}"}, 1, 0) %>
    </div>
  <% end %>

<% else %>

  <% image = ProjectImage.new %>

  <%= form.fields_for(:main_project_image, image) do |p| %>
    <div class="embedded-form-entry-container">
      <%= p.label(:image_file, 'New main project image', class: 'input-label embedded-label') %>
      <%= p.file_field(:image_file, accept: 'image/png,image/jpeg', class: 'input-box embedded-no-border', id: "image-update-main-#{image.description}") %>
    </div>
  <% end %>

<% end %>