
<% images = project.project_images %>

<div class="embedded-form-entry-container">
  <h4 class="input-label embedded-label-full-width">
    Project images
  </h4>
</div>

<div class='drag-container'>
  <%= form.fields_for(:project_images) do |nested_image_form| %>
    <div class='draggable-image-item-container' draggable=true >
      <div class='drag-icon-container'>
        <button>
          ▲
        </button>
        <%= image_tag('icons/drag-icon', alt: 'drag icon') %>
        <button>
          ▼
        </button>
      </div>

      <div class="drag-image-container">
        <%= image_tag(image_path_helper(image_model: nested_image_form.object, variant: :thumbnail))%>
      </div>

      <div class='drag-content'>
          <%= nested_image_form.label(:title, 'Image title:', class: 'input-label embedded-label-full-width') %>
          <%= nested_image_form.text_field(:title, class: 'input-box embedded-input-box full-width', placeholder: 'Enter image title...') %>

        <div class="embedded-entry">
          <%= nested_image_form.label(:_destroy, 'Remove image:', class: 'input-label inline-label') %>
          <%= nested_image_form.check_box(:_destroy, {}, 1, 0) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="embedded-form-entry-container">
  <%= label(:new_project_images, :image_files, 'Add project images', class: 'input-label embedded-label') %>
  <%= file_field(:new_project_images, :image_files, accept: 'image/png,image/jpeg', multiple: true, class: 'input-box embedded-no-border') %>
</div>