
<%= render partial: 'partials/system_messages'%>

<div class="embedded-form-entry-container">
  <%= f.label(:title, 'Title', class: 'input-label embedded-label') %>
  <%= f.text_field(:title, class: 'input-box embedded-input-box', placeholder: 'Enter title...') %>
</div>

<div class="embedded-form-entry-container">
  <%= f.label(:overview, 'Overview', class: 'input-label embedded-label') %>
  <%= f.text_field(:overview, class: 'input-box embedded-input-box', placeholder: 'Enter overview...') %>
</div>

<div class="embedded-form-entry-container">
  <%= f.label(:date_published, 'Date published', class: 'input-label embedded-label') %>
  <%= f.text_field(:date_published, class: 'input-box embedded-input-box', placeholder: 'Enter date published...') %>
</div>

<div class="embedded-form-entry-container">
  <%= f.label(:text, 'Post content', class: 'input-label embedded-label') %>
</div>

<div class="embedded-form-entry-container">
  <%= f.text_area(:text, class: 'input-box embedded-text-area', placeholder: 'Add post content (you can use markdown)...') %>
</div>

<div class="embedded-form-entry-container submit-right">
  <%= f.submit("Submit", class: 'input-submit') %>
  <%= link_to('Return', admin_posts_path, class: 'standard-button input-submit') %>
</div>