<a href='<%= edit_admin_post_path(post) %>' class='post-overview-container view-blog-post-button' title='<%= post.title %>' tabindex='<%=post_iteration.index + 1%>'>
  <div class='post-overview-date'>
    <%= full_date(post.date_published) %>
  </div>
  <h3 class='post-overview-title'>
    <%= post.title %>
  </h3>
  <div class='post-overview-overview'>
    <%= post.overview %>
  </div>
</a>
