<% if image %>

  <div class="embedded-form-entry-container">
    <div class="input-label embedded-label">
      Current profile image
    </div>
    <div class="embedded-current-value">
      <%= image_file_name(image: image, default_name: 'no image') %>
    </div>
  </div>

  <div class="embedded-form-entry-container">
    <%= image_tag(image_path_helper(image_model: image), class: 'profile-image admin')%>
  </div>

  <%= render partial: 'layouts/images/images_will_be_resized', locals: {image: image}%>

  <%= form.fields_for :profile_image do |p| %>
    <div class="embedded-form-entry-container">
      <%= p.label(:image_file, 'Update image', class: 'input-label embedded-label') %>
      <%= p.file_field(:image_file, accept: 'image/png,image/jpeg', class: 'input-box embedded-no-border', id: "image-update-#{image.description}") %>
    </div>

    <div class="embedded-form-entry-container">
      <%= p.label(:_destroy, 'Remove image', class: 'input-label embedded-label') %>
      <%= p.check_box(:_destroy, {class: 'input-check-box', id: "image-reset-#{image.description}"}, 1, 0) %>
    </div>
  <% end %>

<% else %>

  <% image = ProfileImage.new %>

  <%= render partial: 'layouts/images/images_will_be_resized', locals: {image: image}%>

  <%= form.fields_for(:profile_image_attributes, image) do |p| %>
    <div class="embedded-form-entry-container">
      <%= p.label(:image_file, 'New image', class: 'input-label embedded-label') %>
      <%= p.file_field(:image_file, accept: 'image/png,image/jpeg', class: 'input-box embedded-no-border', id: "image-update-#{image.description}") %>
    </div>
  <% end %>

<% end %>