<% content_for :section_title do %>
  Forgotten Password
<% end %>

<% content_for :form do %>
  <%= form_with(url: '/forgotten-password', method: :post, class: 'floating-form') do |f| %>
    <%= render partial: 'partials/system_messages'%>
    <%= label_tag(:email, 'Please enter your email address:', class: 'input-label') %>
    <%= f.text_field(:email, required: true, class: 'input-box', placeholder: 'admin@example.com') %>
    <div class='input-seperator'></div>
    <div class='recaptcha' id='recaptcha' data-controller='recaptcha' data-target='recaptcha.container' data-action="turbolinks:before-cache@window->recaptcha#teardown"></div>
    <%= f.submit('Reset Password', class: 'input-submit') %>
  <% end %>
<% end %>

<%= render template: "layouts/forms/floating_form" %>