<h1> Forgotten Password </h1>
<div class='centered_container'>
  <div class='floating_form_container'>
    <%= form_with(url: '/forgotten-password', method: :post, class: 'floating_form') do |f| %>
      <div class="system_messages">
        <% flash.each do |type, msg| %>
          <div class='<%= type %>'><%= msg %></div><br>
        <% end %>
      </div>
      <%= label_tag(:email, 'Please enter your email address:', class: 'input_label') %>
      <%= f.text_field(:email, required: true, class: 'input_box', placeholder: 'admin@example.com') %>
      <div class='input_seperator'></div>
      <div class='recaptcha' id='recaptcha' data-controller='recaptcha'></div>
      <%= f.submit('Reset Password', class: 'input_submit') %>
    <% end %>
  </div>
</div>