<% content_for :section_title do %>
  Reset Password
<% end %>

<div class='centered-container'>
  <div class='floating-form-container'>
    <%= form_with(url: '/reset-password', method: :post, class: 'floating-form') do |f| %>
      <%= render partial: 'partials/system_messages'%>
      <div class='input-label'>
        User: <%= @user.username %>
      </div><br>
      <%= label_tag(:password, 'Please enter your new password, it must be more than 8 charaters:', class: 'input-label') %>
      <%= f.password_field(:password, required: true, class: 'input-box', placeholder: 'password') %>
      <div class='input-seperator'></div>
      <%= f.password_field(:password_confirmation, required: true, class: 'input-box', placeholder: 'confirmation') %>
      <div class='input-seperator'></div>
      <%= f.submit('Reset Password', class: 'input-submit') %>
    <% end %>
  </div>
</div>