<h1> Reset Password </h1>
<div class='centered_container'>
  <div class='floating_form_container'>
    <%= form_with(url: '/reset-password', method: :post, class: 'floating_form') do |f| %>
      <%= render 'layouts/system_messages'%>
      <div class='input_label'>
        User: <%= @user.username %>
      </div><br>
      <%= label_tag(:password, 'Please enter your new password, it must be more than 8 charaters:', class: 'input_label') %>
      <%= f.password_field(:password, required: true, class: 'input_box', placeholder: 'password') %>
      <div class='input_seperator'></div>
      <%= f.password_field(:password_confirmation, required: true, class: 'input_box', placeholder: 'confirmation') %>
      <div class='input_seperator'></div>
      <%= f.submit('Reset Password', class: 'input_submit') %>
    <% end %>
  </div>
</div>