<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<% content_for :section_title do %>
  Reset Password
<% end %>

<% content_for :form do %>
  <%= form_with(url: '/reset-password', method: :post, class: 'floating-form') do |f| %>
    <%= render partial: 'partials/system_messages' %>
    <div class='input-label'>
      User: <%= @user.username %>
    </div><br>
    <%= label_tag(:password, 'Please enter your new password, it must be more than 8 charaters:', class: 'input-label') %>
    <%= f.password_field(:password, required: true, class: 'input-box', placeholder: 'password') %>
    <div class='input-seperator'></div>
    <%= f.password_field(:password_confirmation, required: true, class: 'input-box', placeholder: 'confirmation') %>
    <div class='input-seperator'></div>
    <%= render partial: "partials/submit_right", locals: {form: f, button_text: 'Reset Password'} %>
  <% end %>
<% end %>

<%= render template: "layouts/forms/floating_form" %>
