<% content_for :section_title do %>
  <%= @about.section_title %>
<% end %>

<% content_for :meta_title do %>
  <%= @about.section_title %>
<% end %>

<% content_for :meta_description do %>
  A little bit about me...
<% end %>

<section class='reading-pane' itemscope itemtype="http://schema.org/AboutPage">
  <%= render partial: 'partials/admin_toolbar', locals: { model: @about, singular: true } %>

  <%= render partial: 'partials/profile_image', locals: { model: @about, contact_link: true } %>

  <div class='about-about-me-container' itemprop="mainContentOfPage">
    <%= markdown_admin(@about.about_me) %>
  </div>
</section>
