<%= content_for :email_title do %>
  Account Updated
<% end %>

<%= content_for :username do %>
  <%= @user.username %>
<% end %>

<tr>
  <td style='padding: 10px 0px;'>
    Your password was updated on: <%= @user.updated_at.strftime("%H:%M %d-%m-%Y") %>
  </td>
</tr>
<tr>
  <td style='padding: 10px 0px 0px 0px;'>
    If you did not updated your password, please contact <%= Rails.application.credentials.email[:default_email] %>
  </td>
</tr>
                