<%= content_for :email_title do %>
  Contact Message Confirmation
<% end %>

<%= content_for :username do %>
  <%= @to_name %>
<% end %>

<tr>
  <td style='padding: 10px 0px;'>
    You sent <i><%= @user_name %></i> a new contact message at <%= @datetime %>.
  </td>
</tr>
<tr>
  <td style='padding: 20px 20px;'>
    <i><%= @content %></i>
  </td>
</tr>
<tr>
  <td style='padding: 10px 0px;'>
    I will reply to you message as soon as possible.
  </td>
</tr>