<%= content_for :email_title do %>
  New Contact Message
<% end %>

<%= content_for :username do %>
  <%= @to_name %>
<% end %>

<tr>
  <td style='padding: 10px 0px;'>
    You have received a new contact message from: <%= @from_name %>, at: <%= @datetime %>
  </td>
</tr>
<tr>
  <td style='padding: 10px 0px;'>
    Message:
  </td>
</tr>
<tr>
  <td style='padding: 10px 0px;'>
    <%= @content %>
  </td>
</tr>