<% content_for :section_title do %>
  Blog
<% end %>

<% content_for :meta_title do %>
  <%= @post.title.length > 65 ? "#{@post.title[0..62]}..." : @post.title %>
<% end %>

<% content_for :meta_description do %>
  <%= @post.overview %> - Blog post by <%= @post.user.username %>
<% end %>

<%= render partial: 'partials/admin_toolbar', locals: { model: @post } %>


<section class='reading-pane'>
  <%= render partial: 'partials/system_messages' %>

  <article class='reading-pane' itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop='headline'><%= @post.title %></h1>
    <div class='reading-pane-subtitle'>
      <span itemprop='author'> <%= @post.user.username %> </span> | <time datetime="<%= @post.date_published.strftime("%Y-%m-%d")%>" itemprop='dateModified'> <%= full_date(@post.date_published) %> </time>
    </div>
    <div class='post-container' itemprop='articleBody'>
      <%= markdown_admin(@post.text) %>
    </div>
    <link itemprop="isPartOf" itemscope itemtype="https://schema.org/Blog" itemid="<%= posts_path %>" />
  </article>

  <div class='reading-footer'>
    <a href='<%= posts_path %>' class='standard-button'>Back to all posts</a>
  </div>
</section>

