<% content_for :section_title do %>
  Blog
<% end %>

<% content_for :meta_title do %>
  <%= @post.title.length > 65 ? "#{@post.title[0..62]}..." : @post.title %>
<% end %>

<% content_for :meta_description do %>
  <%= @post.overview %> - Blog post by <%= @post.user.username %>
<% end %>

<section class='reading-pane'>
  <h2><%= @post.title %></h2>
  <div class='post-date'>
    <%= @post.user.username.humanize %> | <%= full_date(@post.date_published) %>
  </div>
  <%= markdown_admin(@post.text) %>
</section>

<section class='reading-pane reading-footer'>
  <a href='<%= posts_path %>' class='standard-button'>Back to all posts</a>
</section>
