<% content_for :section_title do %>
  Gallery
<% end %>

<% content_for :meta_title do %>
  Gallery
<% end %>

<% content_for :meta_description do %>
  An interesting selection if pictures I've taken
<% end %>

<% if @user %>
  <div class='toolbar-container'>
    <%= link_to('Admin Edit', admin_gallery_images_path, class: 'standard-button view-section') %>
  </div>
<% end %>

<%= render partial: 'partials/system_messages' %>

<div class='gallery'>

  <% if @gallery_images.empty? %>
    <%= render partial: 'partials/no_items', locals: {item: 'images'} %>
  <% else %>
    <ul class='gallery-container' 
        data-controller='justified-gallery gallery-lightbox gallery-scroll-load' 
        data-justified-gallery-margin='2' 
        data-gallery-lightbox-item-selector='.gallery-container a' 
        data-gallery-scroll-load-page-value='1'
        data-gallery-scroll-load-api-url-value='<%= gallery_images_path %>'
        data-action='renderGallery->justified-gallery#renderGallery reConnectLightbox->gallery-lightbox#reConnect galleryRendered->gallery-scroll-load#initializeScrollLoad'
        itemscope itemtype="https://schema.org/ImageGallery">
      <%= render partial: 'gallery_images/image_container', collection: @gallery_images, as: :gallery_image %>
    </ul>
  <% end %>

</div>
