<%# {image_object: @site_settings.about_image, image_name: 'About', x_dim: 800, y_dim: 340}  %>

<br>
<h4> <%= image_name %> Image </h4>

<div class="embedded_form_entry_container">
  <div class="input_label embedded_label">
    Current image:
  </div>
  <div class="embedded_current_value">
    <%= image_object.attached? ? image_object.attachment.blob.filename : 'default image' %>
  </div>
</div>

<div class="embedded_form_entry_container">
  <%= image_tag(@site_settings.image_path(image_object), class: 'embedded_full_width')%>
</div>

<div class="embedded_form_entry_container">
  <div class="embedded_full_width embedded_form_note small-font">
    <strong>Note:</strong> Images will be resized to <%= x_dim %>px wide and cropped to <%= y_dim %>px tall. Accepted image formats are jpeg and png.
  </div>
</div>

<div class="embedded_form_entry_container">
  <%= label(:image_upload, image_object.name, 'Update image:', class: 'input_label embedded_label') %>
  <%= file_field(:image_upload, image_object.name, class: 'input_box embedded_no_border', accept: 'image/png,image/jpeg') %>
</div>

<div class="embedded_form_entry_container">
  <%= label(:image_upload, "#{image_object.name}_reset", 'Reset to default:', class: 'input_label embedded_label') %>
  <%= check_box(:image_upload, "#{image_object.name}_reset", class: 'input_check_box') %>
</div>