<h3>
  Update Details
</h3>
<%= form_with(model: [:admin, @user], method: "put") do |f| %>
  <%= render partial: 'partials/system_messages'%>
  <div class="embedded-form-entry-container">
    <%= label(:username, :username, 'Username', class: 'input-label embedded-label') %>
    <%= text_field(:username, :username, {class: 'input-box embedded-input-box', placeholder: 'new username'}) %>
  </div>
  <div class="embedded-form-entry-container">
    <%= label(:username, :username_confirmation, 'Username confirmation', class: 'input-label embedded-label') %>
    <%= text_field(:username, :username_confirmation, class: 'input-box embedded-input-box', placeholder: 'username confirmation') %>
  </div>
  <div class='input-seperator embedded-input-seperator'></div>
  <div class="embedded-form-entry-container">
    <%= label(:email, :email, 'Email', class: 'input-label embedded-label') %>
    <%= text_field(:email, :email, {class: 'input-box embedded-input-box', placeholder: 'new email'}) %>
  </div>
  <div class="embedded-form-entry-container">
    <%= label(:email, :email_confirmation, 'Email confirmation', class: 'input-label embedded-label') %>
    <%= text_field(:email, :email_confirmation, class: 'input-box embedded-input-box', placeholder: 'email confirmation') %>
  </div>
  <div class='input-seperator embedded-input-seperator'></div>
  <div class="embedded-form-entry-container">
    <%= label(:password, :password, 'Password', class: 'input-label embedded-label') %>
    <%= password_field(:password, :password, {class: 'input-box embedded-input-box', placeholder: 'new password'}) %>
  </div>
  <div class="embedded-form-entry-container">
    <%= label(:password, :password_confirmation, 'Password confirmation', class: 'input-label embedded-label') %>
    <%= password_field(:password, :password_confirmation, class: 'input-box embedded-input-box', placeholder: 'password confirmation') %>
  </div>
  <div class='input-seperator embedded-input-seperator'></div>
  <div class="embedded-form-entry-container">
    <%= label(:mobile_number, :mobile_number, 'UK mobile number', class: 'input-label embedded-label') %>
    <%= text_field(:mobile_number, :mobile_number, {class: 'input-box embedded-input-box', placeholder: 'new mobile number'}) %>
  </div>
  <div class="embedded-form-entry-container">
    <%= label(:mobile_number, :mobile_numberconfirmation, 'UK mobile number confirmation', class: 'input-label embedded-label') %>
    <%= text_field(:mobile_number, :mobile_number_confirmation, class: 'input-box embedded-input-box', placeholder: 'mobile number confirmation') %>
  </div>
  <div class='input-seperator embedded-input-seperator'></div>
  <div class="embedded-form-entry-container">
    <%= label(:current_password, :password, 'Enter current password to confirm changes', class: 'input-label embedded-label') %>
    <%= password_field(:current_password, :password, class: 'input-box embedded-input-box', placeholder: 'current password') %>
  </div>
  <div class='input-seperator embedded-input-seperator'></div>
  <div class="form-submit-container">
    <%= f.submit('Update details', class: 'input-submit') %>
  </div>
<% end %>