<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>HomeServer</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navigation'%>
    <div class='page_container'>
      <div class='page_content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
