<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>HomeServer</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class='page-container' data-controller='header-scroll'>
      <%= render partial: 'partials/navigation' %>
      <div class='header-image' data-target='header-scroll.headerImage'>
        <%= image_tag(image_path_helper(image_model: @header_image), id: 'header-image', style: @header_image.custom_style)%>
      </div>
      <div class='content-container' data-action='scroll->header-scroll#scrollHeaderImage' data-target='header-scroll.contentContainer'>
        <div class='content'>
          <%= render partial: 'partials/section_title' %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
    <div id='background'></div>
  </body>
</html>
